n8n-projects/Agent_RAG.json
{
  "name": "Agent-RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "46a82eac-2d7f-4532-8f51-e1a3ba12622f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -740,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "cS5vUTPsD7FPbe4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2222e6b7-876e-42fc-ba74-33283254eb65",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -160,
        1020
      ],
      "credentials": {
        "openAiApi": {
          "id": "cS5vUTPsD7FPbe4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "9254e307-9baf-4f9c-a5bf-d94f66e466ba",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        360,
        1540
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "bfb90ab1-6630-47c9-8599-c308888a6a2f",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        160,
        1620
      ],
      "credentials": {
        "openAiApi": {
          "id": "cS5vUTPsD7FPbe4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "15669c72-5701-485c-b8e6-b956319e7a89",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -220,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Workflow to Add/Update a Google Drive File to Vector DB",
        "height": 671.8877842322804,
        "width": 2070.8894079025763,
        "color": 5
      },
      "id": "9193a6c0-555d-47d1-96ae-d8644708d2cc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "ff1c95b1-0522-433f-aafe-84f6889a90fd",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        1340
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7vGrOwnfEYIYp12E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17b5ZeFhq4p6R9rB4FvTN8OEogwGi7wSu",
          "mode": "list",
          "cachedResultName": "Agentic-RAG-File-source",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17b5ZeFhq4p6R9rB4FvTN8OEogwGi7wSu"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "75b3df30-3bb0-45a6-aedf-1cdb055d5419",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        1240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7vGrOwnfEYIYp12E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17b5ZeFhq4p6R9rB4FvTN8OEogwGi7wSu",
          "mode": "list",
          "cachedResultName": "Agentic-RAG-File-source",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17b5ZeFhq4p6R9rB4FvTN8OEogwGi7wSu"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "616b1799-8591-4c90-84de-4ca924d6ab22",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        1460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7vGrOwnfEYIYp12E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "a1dd2989-be5b-4a41-bab2-dba1ca7a22ed",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        20,
        1340
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "132f02d4-240a-4960-b9bb-e937060f2e94",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -620,
        860
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "hW8mMMpGTFlZhDfX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "63031135-7547-4e9b-a907-2a304387f1aa",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        380,
        1720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b49b12f1-e33a-4533-81a0-cacf82a753ea",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        1340
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 605,
        "width": 2073
      },
      "id": "b77d07ac-05a1-488f-82da-5589f65036a8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        560
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi Navid!!\nI am your Personal Assistance, How May I help you?",
        "options": {
          "allowFileUploads": false,
          "subtitle": "I am here to help you 24/7.",
          "title": "Personal Assistance",
          "customCss": ":root {\n  /* Colors */\n  --chat--color-primary: #4f46e5; /* Vibrant Indigo */\n  --chat--color-primary-shade-50: #4338ca; \n  --chat--color-primary-shade-100: #3730a3;\n  --chat--color-secondary: #10b981; /* Emerald */\n  --chat--color-secondary-shade-50: #059669;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f9fafb; /* Soft Background */\n  --chat--color-light-shade-50: #e5e7eb;\n  --chat--color-light-shade-100: #d1d5db;\n  --chat--color-medium: #9ca3af;\n  --chat--color-dark: #111827; /* Midnight Black */\n  --chat--color-disabled: #6b7280;\n  --chat--color-typing: #9ca3af;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.75rem;\n  --chat--transition-duration: 0.2s;\n  --chat--font-family: 'Inter', sans-serif;\n\n  /* Window Dimensions */\n  --chat--window--width: 420px;\n  --chat--window--height: 650px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: linear-gradient(135deg, #4f46e5, #10b981);\n  --chat--header--color: var(--chat--color-white);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--heading--font-size: 1.5em;\n  --chat--subtitle--font-size: 0.9em;\n  --chat--subtitle--line-height: 1.6;\n\n  /* Message Styles */\n  --chat--message--font-size: 0.95rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: calc(var(--chat--border-radius) * 1.5);\n  --chat--message-line-height: 1.6;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 0.8);\n  --chat--message--bot--background: var(--chat--color-light);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n\n  /* Toggle Button */\n  --chat--toggle--size: 56px;\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n\n  /* Input Area */\n  --chat--textarea--height: 54px;\n  --chat--textarea--padding: 0.9rem;\n  --chat--input--background: var(--chat--color-light);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--input--border-radius: var(--chat--border-radius);\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--background: var(--chat--color-secondary);\n  --chat--button--border-radius: calc(var(--chat--border-radius) * 0.75);\n  --chat--button--hover--background: var(--chat--color-secondary-shade-50);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-primary);\n  --chat--input--send--button--color: var(--chat--color-white);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light-shade-50);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Additional Message Max Width */\n.chat-message {\n  max-width: 65%;\n}"
        }
      },
      "id": "b6ef41d0-49bc-440e-bf02-f7effb072ba0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1160,
        780
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."
        }
      },
      "id": "e515a818-b75c-497b-8df9-b4798419cf9c",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -680,
        620
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "agentic-rag",
          "mode": "list",
          "cachedResultName": "agentic-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        80,
        880
      ],
      "id": "ba6eb300-d85a-468a-bfb4-215060de9643",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "N9Yaigb6fGykAVfB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        1020
      ],
      "id": "22f4e9d8-4245-4547-b6b7-4009a4e4a09d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cS5vUTPsD7FPbe4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        1560
      ],
      "id": "3421b431-78e6-4372-81d7-9d29ea45783b",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "cS5vUTPsD7FPbe4c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "update",
        "pineconeIndex": {
          "__rl": true,
          "value": "agentic-rag",
          "mode": "list",
          "cachedResultName": "agentic-rag"
        },
        "id": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -720,
        1340
      ],
      "id": "b6aa82fa-1989-46a3-b922-53315c45f74b",
      "name": "Update-Vector",
      "credentials": {
        "pineconeApi": {
          "id": "N9Yaigb6fGykAVfB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "agentic-rag",
          "mode": "list",
          "cachedResultName": "agentic-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        240,
        1340
      ],
      "id": "8e917fb4-02aa-4579-b325-337f62e4d78d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "N9Yaigb6fGykAVfB",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Update-Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Update-Vector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Update-Vector": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5966595-a8c8-4b79-ba9c-55f40c49530c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5504705e014d80f3dc3b308fe05e96254f5a70f31a2c0ef2519f8e467e8c4d6"
  },
  "id": "LJJoiJjfBTe9qybY",
  "tags": []
}